.site-header {
  box-shadow: 0 4px 4px 0 rgba(19, 20, 23, 0.4);
  background: #131417;

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    padding: 17px 11px;
  }

  &__logo-link {
    display: block;
    min-width: 46px;
    height: 46px;
  }

  &__logo {
    width: 100%;
    height: 100%;
  }

  &__nav {
    position: absolute;
    top: 100%;
    right: -200%;
    overflow-y: auto;
    transition: right .4s ease;
    width: 100%;
    height: calc(100vh - 80px);
    box-shadow: -4px 0 4px 0 rgba(0, 0, 0, 0.25);
    background: #131417;

    &.active {
      right: 0;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__nav-item {
    position: relative;

    &--has-children {
      & > .site-header__nav-link {
        &::after {
          content: "";
          display: inline-block;
          transform: rotate(180deg);
          transition: .4s ease;
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 0 4px 6px 4px;
          border-color: transparent transparent #f2994a transparent;
        }
      }
    }

    &.active {
      & > .site-header__nav-link {
        background-color: #131417;

        &::after {
          transform: rotate(0);
        }
      }
    }
  }

  &__nav-link {
    display: flex;
    align-items: center;
    gap: 9px;
    border-bottom: 1px solid #131417;
    padding: 20px;
    background-color: #252830;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__nav-sublist {
    display: flex;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    margin: 0;
    max-height: 0;
    padding: 0;
    list-style: none;

    &.active {
      opacity: 1;
      visibility: visible;
      max-height: 100%;
    }

    .site-header__nav-link {
      @include fs-16;
    }
  }

  &__phone {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    margin: 0 28px 0 auto;
    font-weight: 500;
    font-size: 0;

    &::before {
      content: "";
      width: 24px;
      height: 24px;
      background: url("../../public/phone.svg");
    }
  }

  &__burger-btn {
    border: 0;
    width: 22px;
    height: 14px;
    background: url("../../public/burger.svg");
    font-size: 0;
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .site-header {
    &__wrapper {
      padding: 17px 22px;
    }

    &__nav {
      width: 375px;
    }

    &__phone {
      @include fs-18;
      margin: 0 auto;
    }
  }
}

@media (min-width: 1440px) {
  .site-header {
    &__wrapper {
      justify-content: space-between;
      margin: 0 auto;
      max-width: 1240px;
    }

    &__nav {
      position: relative;
      top: auto;
      right: auto;
      display: block;
      margin-left: 3vw;
      width: auto;
      height: auto;
      overflow: unset;
    }

    &__nav-list {
      flex-direction: row;
      gap: 2vw;
    }

    &__nav-item {
      &--has-children {
        &:hover {
          & > .site-header__nav-link {
            &::after {
              transform: rotate(0);
            }
          }

          & > .site-header__nav-sublist {
            top: 100%;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &__nav-link {
      border-bottom: 0;
      padding: 8px 18px;
      background-color: transparent;
    }

    &__nav-sublist {
      position: absolute;
      top: -200em;
      left: auto;
      opacity: 0;
      visibility: hidden;
      transition: top .5s ease;
      max-height: unset;
      width: 320px;
      padding-top: 20px;

      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: 48px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 14px 14px 14px;
        border-color: transparent transparent #252830 transparent;
      }

      .site-header__nav-item {
        &:last-child {
          & > .site-header__nav-link {
            border-bottom: 0;
            border-radius: 0 0 8px 8px;
          }
        }

        &:hover {
          .site-header__nav-sublist {
            top: auto;
            bottom: 0;
            left: 100%;
            transition: 1s ease;
            width: auto;
            padding: 0 0 0 22px;

            &::before {
              top: auto;
              bottom: 6px;
              left: 9px;
              border-width: 14px 14px 14px 0;
              border-color: transparent #252830 transparent transparent;
            }

            .site-header__nav-item {
              &:first-child {
                & > .site-header__nav-link {
                  border-radius: 8px 8px 0 0;
                }
              }
            }
          }

          .site-header__nav-link::after {
            transform: rotate(90deg);
          }
        }
      }

      .site-header__nav-link {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        background-color: #252830;

        &:hover {
          background-color: #131417;
          color: $primary-color;
        }
      }
    }

    &__phone {
      margin: 0;
    }

    &__burger-btn {
      display: none;
    }
  }
}